---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Web Service on Seenode</title>
	</head>
	<body>
		<h1>Deploying Astro as a web service on Seenode</h1>
		<p>Visit <a href="/api/hello">/api/hello</a> to see the API endpoint in action.</p>
	</body>
</html>